/* ----------------- Разметкdа под desktop ----------------- */

.container {
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 125px;
}

/* ----------------- Разметкdа под big-tablet ----------------- */

@media (max-width: $desktop-width) {
  .container {
    padding: 0 2.6%;
  }
}

/* ----------------- Разметкdа под tablet ----------------- */

@media (max-width: $big-tablet-width) {
  .container {
    padding: 0 27px;
  }
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $tablet-width) {
  .container {
    padding: 0 13px;
  }
}
