/* ----------------- Разметкdа под desktop ----------------- */

.slider-section {
  position: relative;

  display: flex;
  flex-shrink: 0;
  padding-right: 5.5%;
}

.slider-section__slides {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 110px;
  padding: 0;

  list-style: none;
}

.slider-section__slide {
  padding: 2px;
  margin-bottom: 20px;

  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &--showing {
    padding: 0;
    border: 2px solid $offer-color;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 5px $offer-color;
  }
}

.shirt-section__main-image {
  display: block;
}

.slider-section__buttons {
  position: absolute;
  bottom: -20px;
  left: 5%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.slider-section__controls {
  position: relative;

  width: 30px;
  height: 40px;

  transform: rotate(90deg);
  background-color: transparent;
  border: 2px solid $context-color;
  outline: none;
  transition: 0.25s ease all;

  cursor: pointer;

  &::after {
    content: "";

    position: absolute;
    top: 22%;
    left: 10%;

    display: block;
    width: 20px;
    height: 20px;

    background-image: url("../img/icon-button-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;

    transform: rotate(270deg);
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 5px $offer-color;
  }

  &:active {
    border: 2px solid $button-color;
  }
}

/* ----------------- Разметкdа под big-tablet ----------------- */

@media (max-width: $desktop-width) {
  .slider-section {
    padding-right: 5.5vw;
  }

  .slider-section__buttons {
    left: 5.5%;
  }

  .slider-section__slides {
    margin-right: 3vw;
  }
}

/* ----------------- Разметкdа под tablet ----------------- */

@media (max-width: $big-tablet-width) {
  .slider-section {
    width: 59%;
    padding-right: 43px;
  }

  .slider-section__slides {
    margin-right: 5px;
  }

  .slider-section__buttons {
    position: absolute;
    left: 6.5%;
  }
}

/* ----------------- Разметкdа под mobile ----------------- */

@media (max-width: $tablet-width) {
  .slider-section {
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .slider-section picture {
    text-align: center;
  }

  .slider-section__main-image {
    width: 82%;
  }

  .slider-section__slides {
    display: none;
  }

  .slider-section__buttons {
    display: none;
  }
}
