/* "Circe" font-family */

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 300;
  src: local("Circe"),
    url('../fonts/circe/circe_300.eot') format('embedded-opentype'),
    url('../fonts/circe/circe_300.woff2') format('woff2'),
    url('../fonts/circe/circe_300.woff') format('woff'),
    url('../fonts/circe/circe_300.svg') format('svg');
}

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 600;
  src: local("Circe"),
    url('../fonts/circe/circe_600.eot') format('embedded-opentype'),
    url('../fonts/circe/circe_600.woff2') format('woff2'),
    url('../fonts/circe/circe_600.woff') format('woff'),
    url('../fonts/circe/circe_600.svg') format('svg');
}

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  src: local("Circe"),
    url('../fonts/circe/circe_700.eot') format('embedded-opentype'),
    url('../fonts/circe/circe_700.woff2') format('woff2'),
    url('../fonts/circe/circe_700.woff') format('woff'),
    url('../fonts/circe/circe_700.svg') format('svg');
}
