html {
  height: 100%;

  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  min-width: $mobile-width;
  max-width: 100%;
  margin: 0 auto;
  margin-top: auto;
  padding: 0;

  font-family: "Circe", "Arial", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: normal;
  color: #000000;

  overflow-x: hidden;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
