/*         Основные размеры        */

$mobile-width: 320px;
$tablet-width: 767px;
$big-tablet-width: 999px;
$desktop-width: 1439px;

$retina-dppx: 1.5dppx;

/*         Основные цвета        */

$button-color: #006be5;
$offer-color: #4873b9;
$context-color: #f4f4f4;
$discount-color: #afafaf;
$price-color: #9a9b9b;
